@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Acceso denegado";
}



<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <div class="text-center mb-5">
                <h1 class="display-2 fw-medium">4<i class="bx bx-buoy bx-spin text-primary display-3"></i>1</h1>
                <h4 class="text-uppercase">No tiene permisos para accesar a esta página</h4>
                <div class="mt-5 text-center">
                    <a class="btn btn-primary waves-effect waves-light" asp-controller="Home" asp-action="Index">Regresar a inicio</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8 col-xl-6">
            <div>
                <img src="~/assets/images/error-img.png" alt="" class="img-fluid">
            </div>
        </div>
    </div>
</div>